@charset "utf-8";

header .menu{position:fixed; right:10px; top:10px; z-index:99;}
.menu .btn_menu{position:relative; padding:0; margin:0; width:40px; height:40px; border:2px solid #fff; outline:none; cursor:pointer; background:rgba(0,0,0,0.7); transition:all 0.5s ease;}
.menu .btn_menu:hover{background:rgba(0,0,0,1);}

.menu .btn_menu>span{position:absolute; color:#fff; font-family:'Bebas Neue'; font-size:17px;}
.menu .btn_menu>span>span{opacity:1;}
.menu .btn_menu .m1{left:7px; top:0;}
.menu .btn_menu .m2{right:7px; top:0;}
.menu .btn_menu .m3{left:7px; bottom:-2px;}
.menu .btn_menu .m4{right:7px; bottom:-2px;}

.menu .btn_menu.select{border-color:#000; background:#000; transition:all 0.5s ease;}
.menu .btn_menu.select:hover{background:none;}
.menu .btn_menu.select:hover span{color:#000;}
.menu .btn_menu.select>span>span{opacity:0;}
.menu .btn_menu.select .m1:after{display:inline; content:'H'; position:absolute; opacity:1; left:0; top:0;}
.menu .btn_menu.select .m2:after{display:inline; content:'I'; position:absolute; opacity:1; left:1px; top:0;}
.menu .btn_menu.select .m3:after{display:inline; content:'D'; position:absolute; opacity:1; left:0; top:0;}
.menu .btn_menu.select .m4:after{display:inline; content:'E'; position:absolute; opacity:1; left:0; top:0;}

.modal_wrap{position: fixed; left:0; top:0; width:100%; height:100vh; background:#e7e7e4; z-index:98; display:none; justify-content: flex-start;  align-items:center; padding-left:20px; box-sizing: border-box;}
.modal_wrap .modal ul li{font-size:65px; font-family: 'Bebas Neue';}
.modal_wrap .modal ul li a{color:#291711;}
.modal_wrap .modal ul li a:hover{text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; color:#e7e7e4;}

.modal_wrap p{padding-top:30px; line-height:1.2; font-size:16px;}

@media (min-width:768px) {
    .modal_wrap{position: fixed; left:0; top:0; width:100%; height:100vh; background:#e7e7e4; z-index:98; display:none; justify-content: flex-start; align-items:center;  padding-left:20px; box-sizing: border-box;}
    .modal_wrap .modal{position:absolute; left:20%; top:25%;}
    .modal_wrap .modal ul li{font-size:95px; font-family: 'Bebas Neue';}
    .modal_wrap .modal ul li a{color:#291711;}
    .modal_wrap .modal ul li a:hover{text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; color:#e7e7e4;}
    .modal_wrap p{padding-top:30px; line-height:1.2; font-size:22px;}
}

@media (min-width:1440px) {
    header .menu{position:fixed; right:5%; top:40px; z-index:99;}
}