@charset "utf-8";
html, body {overflow-x:hidden; font-family: 'Bebas Neue','Noto Serif KR', 'Noto Sans KR', sans-serif; color:#291711;}

/* 섹션 */
section{height:1500px;}

/* 섹션1 */
#section1{background:#291711; height:1250px;}
.s1_wrap{position: relative; left:52%; top:8%; margin-left:-640px; width:66.667vw; height:76.841vh; background:url('../images/home.jpg')no-repeat right bottom; background-size:cover;}
.s1_wrap .s1_cover{position:absolute; left:0; top:0; width:100%; height:100%; background:url('../images/home_cover.png')no-repeat right bottom; background-size:cover; animation:s1_coverOn 6s ease-in-out infinite; opacity:0.2;}
@keyframes s1_coverOn {0%{} 50%{opacity:1;} 100%{opacity:0.2;}}
.s1_wrap h1{position: absolute; left:-200px; top:270px; z-index:2; color:#e7e7e4; font-size:5.5vw; font-weight:600; font-family: 'Noto Sans KR';}
.s1_wrap p{position: absolute; right:0; bottom:-65px; line-height:1.2; color:#e7e7e4; text-align:right; font-weight:300; font-family: 'Noto Sans KR';}

/* 섹션2 */
#section2{background:#e7e7e4; height:1100px;}
.s2_wrap{position: relative; height:100%;}
.s2_wrap .s2_imgcover{position: absolute; left:0; bottom:50px; color:#da763d; font-size:250px; opacity:0.5;  line-height:0.7; letter-spacing:20px ;}
.s2_wrap img{position:absolute; left:15%; top:-180px; z-index:2; width:576px;}

.s2_wrap h2{position:absolute; top:30px; right:14%; font-size:280px; letter-spacing:-10px; text-align:right; font-weight:400;}
/* .s2_wrap .s2_bar{position:absolute; top:270px; right:13%; width:1000px; height:3px; background:#291711;} */

.s2_wrap .s2_info {position:absolute; right:15%; top:310px; z-index:2;}
.s2_wrap .s2_info:after{display:block; content:''; clear: both;}

.s2_wrap .s2_info .info_left p{font:500 20px 'Noto Sans KR'; line-height:1.4; letter-spacing: -1px; padding-left:10px; margin-bottom:50px; text-align:right;}
.s2_wrap .s2_info .info_left p em{font-size:22px; font-weight:700; vertical-align: bottom;}
.s2_wrap .s2_info span{display:block; font:700 30px 'Noto Sans KR'; letter-spacing: -1px; margin-bottom:10px; text-align:right;}

.s2_wrap .s2_info .info_right .s2_skills{overflow:hidden; width:222px; float:right;}
.s2_wrap .s2_info .info_right .s2_skills li{float:left; text-indent:-9999px; width:60px; height:60px; margin:0 7px 15px;}
.skill01{background:url('../icons/html.svg')no-repeat;}
.skill02{background:url('../icons/css.svg')no-repeat;}
.skill03{background:url('../icons/js.svg')no-repeat;}
.skill04{background:url('../icons/jquery.svg')no-repeat;}
.skill05{background:url('../icons/photoshop.svg')no-repeat;}
.skill06{background:url('../icons/illustrator.svg')no-repeat;}

.s2_wrap .s2_info .btn_about{display:block; float:right; margin-top:30px; width:350px; background:#291711;  text-align:center; font:500 25px/70px 'Noto Sans KR'; color:#da763d; box-shadow:5px 5px 0 #da763d;}

/* 섹션3 */
#section3{background:#e7e7e4;}
.s3_wrap{position: relative; height:100%;}
.s3_wrap h2{position:absolute; top:150px; left:15%; font-size:280px; letter-spacing:-10px;}


/* 섹션4 */
#section4{background:#da763d; height:937px;}
.s4_wrap{position: relative; height:100%;}
.s4_wrap h2{position:absolute; top:-145px; right:8%; font-size:280px; letter-spacing:-10px; z-index:2;}
.s4_wrap .s4_main{position:absolute; left:52%; top:12%; margin-left:-640px; width:66.667vw; height:76.841vh; background:url('../images/home_contact.jpg')no-repeat center top; background-size:cover;}
.s4_wrap .s4_main .s4_text{width:500px; height:300px; background:#e7e7e4; margin:50px 0 0 50px;}
.s4_wrap .s4_main .s4_text p{}
.s4_wrap .s4_main .s4_text .s4_contact{}
.s4_wrap .s4_main .s4_text .s4_contact li{font-family: 'Noto Sans KR'; font-weight:500; font-size:22px; color:#291711;}
.s4_wrap .s4_main .s4_text .s4_contact li img{width:50px;}
.s4_wrap .s4_main .s4_text .s4_contact li span{line-height:50px; }

/* 푸터 */
footer{background:#291711; height:20vh;}