@charset "utf-8";
body {font-family: 'Noto Sans KR','Noto Serif KR', sans-serif; color:#291711; overflow-x: hidden; overflow: -moz-scrollbars-none; -ms-overflow-style: none;}
body::-webkit-scrollbar { width: 0 !important }


/* 섹션 1 */
#section1{background:#e7e7e4; height:2400px; position: relative;}
#section1 h1{position:absolute; left:-2%; top:-40px; font:bold 150px 'Bebas Neue'; opacity:0.3;}
.s1_inner{padding-top:150px; width:100%; margin:0 auto;}
.s1_inner .main_works h2{font:normal 100px 'Bebas Neue'; padding-left: 10px;}
.s1_inner .main_works .s1_works{width:360px; margin:0 auto 20px;}
.s1_inner .main_works .s1_works a{display:block; width:360px;}
.s1_inner .main_works .s1_works a img{width:100%;}
.s1_inner .main_works .s1_works .works_text{padding:5px 10px 30px;}
.s1_inner .main_works .s1_works .works_text h3{font:700 20px 'Noto Sans KR';}
.s1_inner .main_works .s1_works .works_text p{font:400 16px 'Noto Sans KR';}


.s1_inner .other_works h3{font:normal 100px 'Bebas Neue'; padding:40px 0 0 10px;}
.s1_inner .other_works h3 span{font:normal 60px 'Bebas Neue'; vertical-align: baseline; letter-spacing:-1px;}
.s1_inner .other_works ul{width:360px; margin:0 auto; display:flex; flex-wrap:wrap; justify-content: space-around;}
.s1_inner .other_works ul li{display:inline-block; margin:5px 0;} 
.s1_inner .other_works ul li a img{width:170px;}
.s1_inner .other_works ul li a {position: relative; display:block;}
.s1_inner .other_works ul li a .other_cover{display:flex; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.7); justify-content:center; align-items:center; opacity:0; transition:all 0.5s ease;}
.s1_inner .other_works ul li a .other_cover p {color:#fff; text-align:center;}
.s1_inner .other_works ul li a:hover .other_cover{opacity:1;}


/* 섹션 2 */
#section2{background:#e3d3c3; height:1200px; position: relative;}
.s2_inner{width:100%; padding-top:60px; margin:0 auto;}
.s2_inner .design h2{font:normal 100px 'Bebas Neue'; padding-left: 10px;}

.s2_inner .s2_design {width:360px; margin:0 auto; position: relative;}
.s2_inner .s2_design img{width:100%;}
.s2_inner .s2_design .slick-dots{display:flex; justify-content:center; margin-top:15px;}
.s2_inner .s2_design .slick-dots li{margin:0 5px;}
.s2_inner .s2_design .slick-dots li button{display:block; padding:0; margin:0; width:13px; height:13px; cursor: pointer; text-indent:-9999px; outline:none; background:none; border:2px solid #fff; border-radius:50%;}
.s2_inner .s2_design .slick-dots .slick-active button{background:#fff;} 
.s2_inner .s2_design .slick-arrow{position:absolute; top:50%; margin-top:-25px; text-indent:-9999px; width:50px; height:50px; cursor: pointer; outline:none; padding:0; border:none; z-index:10;}
.s2_inner .s2_design .slick-prev{left:-30%; background:url('../icons/arrow-left.svg')no-repeat; background-size:cover;}
.s2_inner .s2_design .slick-next{right:-30%; background:url('../icons/arrow-right.svg')no-repeat; background-size:cover;}
.s2_inner .design_cover li{display:none; position:fixed; left:0; top:0; z-index:100; width:100%; height:100%; background:rgba(0,0,0,0.6); flex-direction: column; align-items:center; justify-content:center;}
.s2_inner .design_cover li p{text-align: left; color:#fff; margin-top:10%;}
.s2_inner .design_cover li img{width:80%;}

.s2_inner .video {padding-top:60px;}
.s2_inner .video h2{font:normal 100px 'Bebas Neue'; padding-left: 10px;}
.s2_inner .s2_video {width:360px; margin:0 auto; position: relative;}
.s2_inner .s2_video li:hover{}
.s2_inner .s2_video img{width:100%;}
.s2_inner .s2_video li a{display:block; position: relative;}
.s2_inner .s2_video li a .video_cover{position:absolute; left:0; top:0; width:100%; height:100%; z-index: 10; background:rgba(0,0,0,0.7); display:flex; justify-content: center; align-items: center; transition:all 0.5s ease; opacity:0;}
.s2_inner .s2_video li a .video_cover img{width:100px;}
.s2_inner .s2_video li a:hover .video_cover{opacity:1;}

.s2_inner .s2_video .slick-dots{display:flex; justify-content:center; margin-top:15px;}
.s2_inner .s2_video .slick-dots li{margin:0 5px;}
.s2_inner .s2_video .slick-dots li button{display:block; padding:0; margin:0; width:13px; height:13px; cursor: pointer; text-indent:-9999px; outline:none; background:none; border:2px solid #fff; border-radius:50%;}
.s2_inner .s2_video .slick-dots .slick-active button{background:#fff;} 
.s2_inner .s2_video .slick-arrow{position:absolute; top:50%; margin-top:-25px; text-indent:-9999px; width:50px; height:50px; cursor: pointer; outline:none; padding:0; border:none; z-index:10;}
.s2_inner .s2_video .slick-prev{left:-30%; background:url('../icons/arrow-left.svg')no-repeat; background-size:cover;}
.s2_inner .s2_video .slick-next{right:-30%; background:url('../icons/arrow-right.svg')no-repeat; background-size:cover;}



/* 푸터 */
#footer{background:#291711; height:50px;}



@media (min-width:768px) {
    .s2_inner .s2_design,.s2_inner .s2_video {width:400px;}
    .s2_inner .s2_design .slick-dots,.s2_inner .s2_video .slick-dots{margin-top:30px;}
    .s2_inner .design_cover li p{text-align: left; color:#fff; margin-top:2%; font-size:18px;}
    .s2_inner .design_cover li img{width:500px;}
    #section2{height:1300px;}
}

@media (min-width:1024px) {
    #section1 {height:2900px;}
    #section1 h1{position:absolute; left:-2%; top:-100px; font:bold 300px 'Bebas Neue'; opacity:0.3;}
    .s1_inner{padding-top:250px; width:1024px;}
    .s1_inner .main_works h2{font:normal 150px 'Bebas Neue'; padding-left: 25px;}
    .s1_inner .main_works .s1_works{display:flex; width:100%; margin-bottom:100px;}
    .s1_inner .main_works .s1_works a{width:400px;}
    .s1_inner .main_works .works02{flex-direction: row-reverse;}
    .s1_inner .main_works .works02 .works_text{text-align:right;}
    .s1_inner .main_works .s1_works .works_text{display:flex; flex-direction: column; justify-content: flex-end; padding:0 30px 10px;}
    .s1_inner .main_works .s1_works .works_text h3{font:700 22px 'Noto Sans KR';}
    .s1_inner .main_works .s1_works .works_text p{font:400 18px 'Noto Sans KR';}
    .s1_inner .other_works h3{font:normal 150px 'Bebas Neue'; padding:40px 0 0 10px;}
    .s1_inner .other_works h3 span{font:normal 110px 'Bebas Neue'; vertical-align: baseline; letter-spacing:-1px;}
    .s1_inner .other_works ul{width:650px;}
    .s1_inner .other_works ul li{margin:10px 0;} 
    .s1_inner .other_works ul li a img{width:300px;}

    #section2{height:1450px;}
    .s2_inner{width:1024px;}
    .s2_inner .design h2{font:normal 150px 'Bebas Neue'; padding-left: 25px;}
    .s2_inner .video h2{font:normal 150px 'Bebas Neue'; padding-left: 25px;}
   
}

@media (min-width:1440px) {
    #section1 {height:3400px;}
    #section1 h1{position:absolute; left:-2%; top:-130px; font:bold 400px 'Bebas Neue'; opacity:0.3;}
    .s1_inner{padding-top:350px; width:1200px;}
    .s1_inner .main_works h2{font:normal 200px 'Bebas Neue'; margin-left:-100px; padding:0;}
    .s1_inner .main_works .s1_works a{width:500px;}
    .s1_inner .other_works h3{font:normal 200px 'Bebas Neue'; margin-left:-100px; padding:40px 0 0 0;}
    .s1_inner .other_works h3 span{font:normal 110px 'Bebas Neue'; vertical-align: baseline; letter-spacing:-1px;}

    #section2 {height:1600px;}
    .s2_inner{width:1200px;}
    .s2_inner .design h2{font:normal 200px 'Bebas Neue'; padding-left:0; margin-left:-100px;}
    .s2_inner .video h2{font:normal 200px 'Bebas Neue'; padding-left:0; margin-left:-100px;}

    
}