@charset "UTF-8";
body{font-family: "Noto Sans KR","Malgun Gothic","맑은 고딕",'Kanit',sans-serif;}

/* 사이드메뉴 */
.side_bg{width:100%; height:100vh; position:fixed; z-index:1000; background:rgba(0,0,0,0.8); left:0; top:0; overflow:hidden; display:none;}
.side_bg .side_wrap{width:calc(100% - 30px); position:absolute; right:0; top:0; height:100%; background:#fff; transform:translate(100%); transition:all 0.5s ease;  overflow:auto;}
.side_bg .side_wrap .side_top{background-color: #009223; height: 100px; position: relative; }
.side_bg .side_wrap .side_top img{width:50px; position:absolute; left:25px; top:21px;}
.side_bg .side_wrap .side_top h2{font-family:'Kanit'; font-size: 19px; font-weight: bold; line-height: 22px; color: #fff; position: absolute; left: 94px; top: 34px; letter-spacing: 0.045em;}
.side_bg .side_wrap .side_top h2 p{color: #ffce32;}
.side_bg .side_wrap .side_top .side_close{background:url('../images/icon_sidemenu_close.png')no-repeat 50% 50%;background-size: 20px; width: 50px; height: 64px; position: absolute; right: 0; top: 0; overflow: hidden; text-indent: -9999px; cursor: pointer; border:none; outline:none;}
.side_menu{height:100%;}
.side_menu>li>a{position: relative; height: 59px; color: #292929; font-size: 16px; font-weight: 500; line-height: 59px; display: block; padding-left: 70px; border-bottom: 1px solid #e5e5e5;}
.side_menu>li>a:after{content: ''; background: url('../images/icon_gnb_arr.png') 0 0 no-repeat; background-size: 12px 16px; width: 12px; height: 8px; position: absolute; right: 20px; top: 26px;}
.side_menu>li>a.on:after{background-position: 0 100%;}

.side_menu>li>a span{position: absolute; left: 25px; top: 17px; width: 26px; height: 26px; background-size:156px 52px!important;}
.side_menu>li>a span:before{content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 0; background-size: 156px 52px!important; transition:width 0.3s linear;}
.side_menu>li>a.on span:before{width:100%;}
.side_menu>li>a .side_icon1{background:url('../images/icon_gnb.png')no-repeat;}
.side_menu>li>a .side_icon1:before{background:url('../images/icon_gnb.png')no-repeat 0 -26px;}
.side_menu>li>a .side_icon2{background:url('../images/icon_gnb.png')no-repeat -26px 0;}
.side_menu>li>a .side_icon2:before{background:url('../images/icon_gnb.png')no-repeat -26px -26px;}
.side_menu>li>a .side_icon3{background:url('../images/icon_gnb.png')no-repeat -52px 0;}
.side_menu>li>a .side_icon3:before{background:url('../images/icon_gnb.png')no-repeat -52px -26px;}
.side_menu>li>a .side_icon4{background:url('../images/icon_gnb.png')no-repeat -78px 0;}
.side_menu>li>a .side_icon4:before{background:url('../images/icon_gnb.png')no-repeat -78px -26px;}
.side_menu>li>a .side_icon5{background:url('../images/icon_gnb.png')no-repeat -104px 0;}
.side_menu>li>a .side_icon5:before{background:url('../images/icon_gnb.png')no-repeat -104px -26px;}
.side_menu>li>a .side_icon6{background:url('../images/icon_gnb.png')no-repeat -130px 0;}
.side_menu>li>a .side_icon6:before{background:url('../images/icon_gnb.png')no-repeat -130px -26px;}
.side_menu>li .depth2{overflow: hidden; background-color: #f6f6f6; padding: 14px 0 16px 0; box-sizing: border-box; display:none;}
.side_menu>li .depth2 li a{color: #666666; font-size: 16px; display: block; padding: 0 0 0 70px; line-height: 40px;}



/* 헤더 시작 */
#header{position:fixed; width:100%; z-index:999;}
#header .h_wrap{width:100%; height:50px; background:#fff; border-top:2.5px solid #009221; box-sizing:border-box; position:relative; border-bottom:1px solid #e5e5e5;}
#header .h_wrap .m_map{position:absolute; left:15px; top:10px;}
#header .h_wrap .m_map img{width:17px;}
#header .h_wrap h1{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%);}
#header .h_wrap h1 a img{width:105px;}
#header .h_wrap .m_btn{width:27px; height:19px; border:none; text-indent:-9999px; cursor:pointer; background:url('../images/m_btn.png')no-repeat; background-size:cover; position:absolute; right:15px; top:15px;}











/* 푸터 시작 */
footer{background-color: #292929; text-align: center; padding-bottom: 14px;}
footer .f_top{border-bottom: 1px solid #3b3b3b; margin-bottom: 25px;}
footer .f_top ul{width:100%;}
footer .f_top ul li{display: inline-block; text-align: center; position: relative; padding-left: 10px; margin-left: 10px;}
footer .f_top ul li:before{content: ''; position: absolute; left: 0; top: 20px; width: 2px;  height: 12px; background-color: #3b3b3b;}
footer .f_top ul li a{color: #999999; font-size: 13px; display: inline-block; line-height: 52px; text-align: center; letter-spacing: -0.03em;}
footer .f_top ul li:first-child{margin:0; padding:0;}
footer .f_top ul li:first-child:before{display:none;}
footer .f_top ul li:nth-child(2) a{color:#fff; font-weight:700;}
footer .f_bot .f_sns{margin-bottom: 18px;}
footer .f_bot .f_sns ul{width:100%; text-align: center;}
footer .f_bot .f_sns ul li{display: inline-block; margin: 0 6px;}
footer .f_bot .f_sns ul li:nth-child(1) a{background:url('../images/icon_f_sns_ig.png')0 0 no-repeat; background-size:100%;}
footer .f_bot .f_sns ul li:nth-child(2) a{background:url('../images/icon_f_sns_fb.png')0 0 no-repeat; background-size:100%;}
footer .f_bot .f_sns ul li a{display:block; text-indent:-9999px; font-size: 0; width: 45px; height: 45px; }
footer address{display: block; text-align: center; padding-bottom: 10px; color: #666; font-size: 13px; letter-spacing: -0.015em;}
footer .f_phone{overflow:hidden; width:300px; margin:0 auto; text-align:center;}
footer .f_phone li{display:inline-block; color: #666; font-size: 13px; letter-spacing: -0.015em; margin-bottom:5px;}
footer .f_phone li:nth-child(2){position: relative; padding-left: 8px; margin-left: 4px;}
footer .f_phone li:nth-child(2):before{content: ''; position: absolute; left: 0; top: 5px; width: 2px; height: 10px; background-color: #666666;}
footer .f_phone li a{color: #666;}
footer .copyright{color: #666666; font-size: 11px; line-height: 20px; padding: 10px 15px ; letter-spacing: 0.005em; font-family: 'Kanit';}